body{
  margin:0;

}
.daily{
  
  height: 50px;
  text-align: center;
  font-size:350%;
  background-color: green;
  margin: 0;
  padding: 20px;
  color: #ffffff;
}
ul{
  list-style-type:none;
  overflow: auto;
  background-color:grey;
  width:200px;
  height: 100%;
  margin:0;
  padding: 0;
  position: fixed;
}

li a{
  display: block;
  padding: 30px;
  font-weight: 900;
  font-size:150%;
  color: #ffffff;
}

li a:hover:active{
  background-color: green;
}
li a:hover{
  background-color: green;
}

.text {
  font-size: 250%;
  float: right;
  margin-right: 230px;
  display: relative;
  width: 600px;
  height: 600px;
  margin: 50px;
  padding: 70px;
  text-align: center;
   border-style:double;
}
.display{
  margin: 50px 250px;
  width: 700px;
  height: 700px;
  border-style:double;
  border: 100px;
  border-width: 500px;
 font-size: 200%;
  
}
.home{
text-decoration: none;
}

.text2 {
  font-size: 250%;
  float: right;
  margin-right: 230px;
  display: relative;
  width: 600px;
  height: 600px;
  margin: 50px;
  padding: 70px;
  text-align: center;
   border-style:double;
}
.display2{
  margin: 50px 250px;
  width: 700px;
  height: 700px;
  border-style:double;
  border: 100px;
  border-width: 500px;
 font-size: 200%;
  
}